@font-face {
  font-family: "banhaus";
  src: url(BauhausRegular.ttf);
}
* {
  font-family: "banhaus", sans-serif, "Times New Roman", Times, serif;
  font-weight: 500;
  color: black;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0%;
}
body header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
body header img {
  width: 100px;
  margin-left: 50px;
}
body header nav {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
body header nav a {
  font-size: xx-large;
  transition: all 0.2s;
  text-decoration: none;
  padding: 15px;
}
body header nav a:hover {
  text-decoration: underline;
}
body #me {
  flex-basis: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 40px;
}
body #me .title {
  height: 40%;
}
body #me h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
body #me h3 {
  text-align: center;
  font-size: 2rem;
}
body #me p {
  text-align: justify;
  font-size: 1.5rem;
  width: 40vw;
}
body #skills {
  flex-basis: 100vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #skills h2 {
  text-align: center;
  font-size: 2.5rem;
}
body #skills #skills-icons {
  display: flex;
  flex-flow: row wrap;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
body #skills #skills-icons figure {
  background-color: #c93434;
  width: 110px;
  height: 110px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
body #skills #skills-icons figure:hover {
  transform: scale(1.1);
  cursor: pointer;
}
body #skills #skills-icons figure i {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}
body #skills #skills-icons figcaption {
  text-align: center;
  color: white;
}
body #skills ul {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
body #skills ul li {
  border: solid;
  flex-basis: 15%;
  margin: 2%;
  text-align: center;
  padding: 2%;
}
body #projet {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
}
body #projet h2 {
  flex-basis: 100%;
  text-align: center;
  font-size: 3rem;
}
body #projet figure {
  flex-basis: 25%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
body #projet figure figcaption {
  text-align: justify;
  padding: 5%;
  font-size: large;
  border-top: solid;
}
body footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
body footer img {
  width: 100px;
  margin-left: 50px;
}
body footer #social-icons {
  display: flex;
}
body footer #social-icons figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
}
body footer #social-icons figure i {
  font-size: 3rem;
}
body footer #social-icons figure figcaption {
  text-align: center;
}/*# sourceMappingURL=main.css.map */