$couleur1:#c93434;

@font-face {
    font-family: "dosis";
    src: url(/Dosis/Dosis-Medium.ttf);
}
 
*{
    font-family: "dosis","banhaus", sans-serif,'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    margin: 0%;
    display: flex;
    flex-flow: column;

    header{
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #001730;

        .logo{
            width: 100%;
            display: flex;
            justify-content: center;
        }


            h1{
            text-align: center;
            font-size: 1.2rem;
            color: white;
            }
        
   
        }


    nav{
        width: 200px;
        margin-top: 100px;
        position: fixed;
        top:100px;
        background-color: #001730;

        ul{         
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;
            border-top:#4AD7D1 solid;
            border-bottom: #4AD7D1 solid;


            li{
                border-top: #4AD7D1 solid;
                border-bottom: #4AD7D1 solid;
                list-style: none;
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: white;
                }                
            }
        }
    }
    main{
        top:100px;
        left: 200px;
        margin-left: 200px;
        display: flex;
        flex-direction: column; 


        button{
            padding: 10px;
            background-color: white;
        }
       

        #me{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding:0px 100px 100px 100px;
            
        }

        #projet{
            display: flex;
            flex-direction: column;
            padding: 100px;
            justify-content: center;
            align-items: center;

            figure{
                width: 200px;
                img{
                    width: 200px;
                }
            }

        }
    
        #skills{
            display: flex;
            flex-direction: column;
            padding: 100px;
            justify-content: center;
            align-items: center;

        }
    
    


    }       
    footer{
        width: 200px;
        height: 200px;
        position: fixed;
        bottom: 0px;
        background-color: #001730;
        border-top: 6px solid #4AD7D1  ;
        figure{
            i{
                color:#4AD7D1;
            }
            figcaption{
                color: white;
            }

        }
 
    }


}



